@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 5%;
        text-align: center;
    }

    article {}

}

@media screen and (min-width: 300px) and (max-width: 575px) {


    aside,
    article {
        padding: 1.5em;
    }

    footer {
        background-color: #999;
    }

    nav>ul>li {
        display: list-item;
        margin: 0 10px 0 300px;
        background-color: maroon;
        border-radius: 50%;
    }

    nav a:hover {
        color: yellow;
    }

    aside {
        margin-top: 20px;
    }

    label {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        clear: right;
    }

    #toggle:checked+.menu {
        display: block;
    }

    .row {
        margin-top: 30px;
    }



}