@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    aside {
        margin-left: 5%;
    }
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    aside {
        margin-top: 20px;
    }

    body {
        color: black;
        background-color: lightyellow;
    }

    label {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        clear: right;
    }

    .menu a {
        display: block;
        border-bottom: solid 1px black;
        margin: 0;
        color: yellow;
        background-color: black;
        opacity: 90%;
    }

    #toggle:checked+.menu {
        display: block;
    }

    .row {
        margin-top: 30px;
    }
}