/******************
General styles
*******************/
* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
}

.corgi-rounded {
    width: 145px;
    height: 145px;
    display: block;
    margin: 0 5px 0 5px;
    object-fit: contain;
    border-radius: 100%;
    background: #fff;
    border: 5px solid #c1c1c1;
}

.breed {
    color: maroon;
}

header {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
}

main {
    display: block;
    background-image: url("img/background.jpeg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 82%;
}

footer {
    padding: 15px;
}

aside,
article {
    padding: 2em;
}

aside {
    text-align: center;
    padding: 30px 0 0 0;
}

article {
    width: 75%;
    padding-top: 30px;
}

nav a:visited,
nav a:link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

nav>ul {
    display: inline;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

nav a:hover {
    color: maroon;
}

/******************
Index styles
*******************/
.index-text>p {
    font-size: 20px;
    font-family: Arial,
        Helvetica,
        sans-serif;
    line-height: 25px;
    padding-top: 30px;
    font-weight: bold;
    font-style: italic;
}

/******************
History styles
*******************/
.history-text>p {
    font-size: 20px;
    font-family: Arial,
        Helvetica,
        sans-serif;
    line-height: 25px;
    padding-top: 30px;
    font-weight: bold;
    font-style: italic;
}

/******************
Varities styles
*******************/

.column {
    float: left;
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Cardigan {
    width: 400px;
    border-radius: 25px;
    background: #6DA9DF;
    padding: 5px;
    width: 200px;
    height: 150px;
}

.Pembroke {
    border-radius: 25px;
    background: #6DA9DF;
    padding: 5px;
    width: 200px;
    height: 150px;
}

/******************
Contact styles
*******************/

.contact-info li {
    line-height: 40px;
}

.contact-info li.phone {
    list-style: image url(img/telephone-fill.svg);
}

.contact-info li.email {
    list-style: image url(img/envelope-fill.svg);
}

.contact-info li.twitter {
    list-style: image url(img/twitter.svg);
}

/**************
Hamburger menu
***************/

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

/*************
Hamburger icon
**************/

#toggle {
    display: none;
}